@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

html,body{
    height: 100%;
}
/**
* Loader - Error Notifier
*/
.lds-dual-ring, .error-notifier {
    display: block;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.6);
}
.lds-dual-ring.hidden, 
.error-notifier.hidden, 
.register-succes.hidden {
    display: none;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin-top: 20%;
    margin-left: 50%;
    border-radius: 50%;
    border: 6px solid rgb(117, 117, 117);
    border-color: rgb(124, 124, 124) transparent rgb(109, 109, 109) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}
/**Error Notifier**/
.error-notifier article.message.is-danger {
    position: fixed;
    width: 70%;
    top: 40%;
    left: 15%;
}

/**
* MENU
**/
header.header-menu {
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid rgba(174, 174, 174, 0.75);
}
header nav.navbar {
    background-color: rgb(250, 250, 250);
    background-color: rgba(255, 255, 255, 0.6);
}

/**
* FOOTER
**/
/** footer **/
footer.footer{
    background-color: rgb(233 233 233);
    padding:10px 0 10px 0;
}
#git-icon{
    width: 40px;
    vertical-align: bottom;
}

/**
* INDEX
**/
.container {
    padding: 10px 20px 10px 20px;
}
/** products **/
.products-list{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.products-list img.image-product{
    padding: 20px;
    width:85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
span.tag{
    margin-right: 5px;
}
article:hover img.image-product{
    width: 95%;
    transition: 0.5s;
}
.notification.is-info{
    text-align: center;
}
.btn-detail{
    margin-top: 20px;
}

/**
* REGISTER
**/
form.register-form .btn-submit {
    text-align: center;
}
.register-succes{
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


/**
* NEW PRODUCT
**/
.container h3.title.is-3{
    margin-top: 75px
}

.control.has-icons-right span.icon.is-right.add-tag{
    margin-right:-70px;
    margin-top: -30px;
    font-size: 40px;
}
.new-producct-form .btn-submit {
    margin-top: 30px;
    text-align: center;
}
.price{
    margin-right: 20px;
}


/**
* EDIT PRODUCT
**/
.product-type {
    margin-bottom: 15px;
}
.product-type label{
    vertical-align: middle;
}
.currentImage label, .currentImage img {
    vertical-align: middle;
}
.currentImage button {
    margin-left: 18px;
}
.price-edit {
    margin-top: 15px;
}
.price-edit p {
    width: 85%;
    float: right;
    margin-bottom: 10px
}
.product-price-edit {
    width: 60%;
}
.submit-edit-product {
    text-align: center;
    margin-top: 155px
}
.tags-field-edit input {
    width: 75%;
}
.tags-field-edit input.tags {
    display: inline-flex;
}
.tags-field-edit button {
    float: right;
}
.current-data{
    position: absolute;
    margin-top: -175px;
    left: 222px;
}
